body {
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 100px;
}
.box {
    width: 100px;
    height: 100px;
    animation: box 4s linear infinite backwards;
    background-color: green;
    transform: translate(100px, 100px);
}
@keyframes box {
    0% {
        transform: translate(100px, 100px);
        transition: all 1s linear;
    }
    25% {
        background-color: yellow;
        transform: translate(100px, -100px);
        transition: all 1s linear;
    }
    50% {
        background-color: red;
        transform: translate(-100px, -100px);
        transition: all 1s linear;
    }
    75% {
        background-color:  blue;
        transform: translate(-100px, 100px);
        transition: all 1s linear;
    }
}