body {
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    width: 400px;
    height: 400px;
    position: relative;
}
.element {
    width: 180px;
    height: 180px;
    position: absolute;   
}
.element:nth-child(1) {
    background-color: rgb(231, 122, 122);
    top: 0;
    left: 0;
    z-index: 1;
}
.element:nth-child(2) {
    background-color: rgb(150, 150, 238);
    top: 100px;
    left: 100px;
    z-index: 2;
}
.element:nth-child(3) {
    background-color: rgb(136, 230, 136);
    bottom: 0;
    right: 0;
    z-index: 1;
}